.info
  p.name {name}
  p.cat {category}
  .photo
    img(src='')
  .author {author}
  .phone {phone}
  .address {address}
  .description {description}
  a.website(href='http://{web}', target='_blank') {web}
  a.fb(href='http://{fb}', target='_blank') {fb}
  a.flickr(href='http://{flickr}', target='_blank') {flickr}
